services:
  web:
    build: .
    ports:
      - "80:80"
    volumes:
      - ./:/var/www/html/:z
    depends_on:
      - db
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: inventario_bd
      MYSQL_USER: admin 
      MYSQL_PASSWORD: gsm123
    volumes:
      - db_data:/var/lib/mysql
  pma:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
volumes:
  db_data:
